# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
gcs-key.json
src/test-gcs.ts
# Logs
logs/
*.log
dist/
# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Next.js
.next/
out/

# Environment variables
.env
.env.*

# Local overrides
*.local

# AWS
.aws/

# MongoDB
/data/db/

# OS
.DS_Store
Thumbs.db
